{% assign custom_blog_handle = product.metafields.blog.custom %}
{% assign how_many_articles_to_show = 3 %}
{% assign custom_blog_count = blogs[custom_blog_handle].articles_count %}
{% assign blog =  block.settings.blog %}

{% if custom_blog_handle or blog.articles %}

<div id="blogs" {{ block.shopify_attributes }}>
    <div class="heading">
        {% if block.settings.top_title != blank %}
        <p class="text-center section-subtitle aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">
            {{ block.settings.top_title }}</p>
        {% endif %}
        {% if block.settings.heading != blank %}
        <h4 class="mb-5 text-center section-title-1 aos-init aos-animate" data-aos="fade-up" data-aos-duration="500">
            {{ block.settings.heading }}</h4>
        {% endif %}
    </div>
<div class="latest-blog-posts-wrapper">
    <div class="blog-articles col-12" data-handle="{{ blog.handle }}">
{% if custom_blog_handle %}
    {% for article in blogs[custom_blog_handle].articles limit: how_many_articles_to_show %}
        {% include 'articles-product' %}
    {% endfor %}
{% else %}

    {% for article in blog.articles limit: how_many_articles_to_show %}
        {% include 'articles-product' %}
    {% endfor %}
   
{% endif %}
</div>
</div>
</div>
{% endif %}