{% if section.blocks.size > 0 %}
	<ul class="product__value-props grid hide">
		{% for block in section.blocks %}
		    {% assign vp_tag = block.settings.tag | downcase %}
		    {% for tag in product.tags %}
		        {% assign tag_lowercase = tag | downcase %}
		        {% if tag_lowercase == vp_tag %}
                    <li class="grid__item medium-down--one-half large-up--one-half">
                        <div class="img-wrapper">
                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" />
                        </div>
						<div class="info-wrapper">
                        	<span class="info-wrapper__heading">{{ block.settings.title }}</span>
							<p class="info-wrapper__desc">{{ block.settings.description }}</p>
						</div>
                    </li>
                {% endif %}
		    {% endfor %}
		{% endfor %}
	</ul>
{% endif %}

{% schema %}
	{
		"name": "Value Props",
		"blocks": [
			{
				"type": "image",
				"name": "Value Prop",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
                    {
						"type": "text",
						"id": "title",
						"label": "Heading"
					},
					{
						"type": "textarea",
						"id": "description",
						"label": "Description"
					},
					{
						"type": "header",
						"content": "Settings"
					},
					{
						"type": "text",
						"id": "tag",
						"label": "Tag",
						"info": "Products tagged with this will display value prop on the Product Page."
					}
				]
			}
		],
		"settings": [
		]
	}
{% endschema %}
